<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include('./inc/head')%>
    </head>

    <body>
        <% let name = 'sadsa'%>
        <h1>sa</h1>
        <p><%=name%> </p>     
    </body>
    
</html>